html
  include ./head.jade
  body
    include ./header.jade
    
    h2 Build log <span id="loading"></span>
    form(action="./cancel", method="post")
      button(type="submit") Cancel job
    iframe(src="log", id="log")
    p okay
  script.
    var list = ['⠋','⠙','⠹','⠸','⠼','⠴','⠦','⠧','⠇','⠏'], id = 0
    function loop () {
      id++;
      var char = list[id % list.length];
      document.querySelector('#loading').innerText = char;
    }
    var intid = setInterval(loop, 100);
    document.querySelector('#log').addEventListener('load', function () {
      clearInterval(intid);
      document.querySelector('#loading').innerText = '';
    }, false);
