html
  include ./head.jade
  body
    include ./header.jade

    h2 jobs
    ul
      each job in jobs
        li 
          a(href="/job/" + job.id)
            b= job.ref.id
            |  
            = util.refSha(job.ref)
    h2 build what?
    each id in ["openwrt", "test-a"]
      form(method="post", action="/target/" + id + "/build")
        button(type="submit")= id
