extends ./layout.jade

block body
  h2 jobs
  ul
    each job in jobs
      li 
        a(href="/job/" + job.id)
          b= job.ref.id
          |  
          = util.refSha(job.ref)
          |  
        if job.finished
          | (complete)
        if job.end
          br
          = humanizeDuration(Math.floor((job.end - job.start) / 1e3)*1e3)
  
  h2 targets
  ul
    each id in plans
      li
        a(href="/target/" + id)= id
