extends ./layout.jade

block style
  style.
    html, body { margin: 0; padding: 0; flex-direction: column; }
    html, body, #body { display: flex; flex-grow: 1; }
    #body { flex-direction: row; flex-grow: 1; }

    #sec-targets {
      order: -1;
      width: 240px;
      min-width: 240px;
      padding: 0 15px;
      border-right: 1px solid #ccc;
    }
    #sec-jobs {
      padding: 0 15px;
      flex-grow: 1;
    }

    #targets, #targets > li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    #targets > li a {
      text-decoration: none;
      display: block;
      background: #eee;
      padding: 8px 12px;
      border-bottom: 4px solid white;
    }

    #targets > li a:hover {
      background: #ddd;
      text-decoration: underline;
    }

    #jobs, #jobs li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    #jobs li {
      margin: 10px 0;
      border: 1px solid #ccc;
      padding: 10px 15px;
      cursor: pointer;
    }
    #jobs li.complete {
      background: #cfc;
    }
    #jobs li.complete.error {
      background: #fcc;
    }

    #sec-jobs {

    }

  script.
    $(function () {
      $('body').on('click', '#jobs li', function () {
        window.location.href = $(this).find('a').attr('href');
      });
    })

block body
  section#sec-jobs
    h2 Jobs
    ul#jobs
      each job in Object.values(jobs).reverse()
        li(class=(job.finished ? "complete " : "") + (job.error ? 'error ' : ''))
          a(href="/job/" + job.id)
            b Build SHA: #{util.refSha(job.ref)}
          br
          a(href="/target/" + job.ref.id)
            = job.ref.id
          if job.ref.sha
            |  
            | (commit #{job.ref.sha.slice(0, 8)})
          if !job.finished
            br
            | Time since start: #{humanizeDuration((((Date.now() - job.start)/1e3)|0)*1e3)}
          if job.end
            br
            | finished in 
            = humanizeDuration(Math.floor((job.end - job.start) / 1e3)*1e3)
            if !job.error
              |  
              a(href="/job/" + job.id + "/artifact")
                | [ download ]
            else
              |  with errors.
  
  section#sec-targets
    h2 Targets
    ul#targets
      each id in plans
        li
          a(href="/target/" + id)= id
